<mat-drawer-container>
  <mat-drawer-content>
    <div *ngFor="let tile of tiles">
      <app-service  class="servicesList"></app-service>
    </div>
  </mat-drawer-content>


  <mat-drawer class="rigthPanel"  opened *ngIf="isWideScreen$ | async" mode="side"  position='end' >
    <mat-accordion>
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Friends List
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-header >
            <div mat-card-avatar></div>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
        </mat-card>
        
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
</mat-drawer-container>