<mat-drawer-container>
  <mat-drawer-content>
    <div *ngFor="let tile of tiles">
      <app-service  class="servicesList"></app-service>
    </div>
  </mat-drawer-content>


  <mat-drawer mode="side" opened position='end'>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Friends List
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
</mat-drawer-container>