<app-nav-bar-main></app-nav-bar-main>

<div class="mat-app-background">
    <div class="container">
        <div class="row">
            <button (click)="exportToCSV()">aaaaaa</button>
        </div>
        <div class="row">
            <div class="col">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Usuarios Nuevos (Ultimo Mes)</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="mat-h3">
                            500
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Usuarios Nuevos (Ultimo Mes)</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="mat-h3">
                            500
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Usuarios Nuevos (Ultimo Mes)</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="mat-h3">
                            500
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div echarts [options]="options"  [theme]="theme"  class="demo-chart"></div>

        <hr>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creacion </th>
                    <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
                </ng-container>

                <ng-container matColumnDef="reportCount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de reportes </th>
                    <td mat-cell *matCellDef="let row"> {{row.reportCount}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
                        <button mat-flat-button color="primary">Abrir</button>
                        <button mat-flat-button color="warn">Eliminar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

        <!-- <div class="reportedServicesTable">
            <app-service-reports-control></app-service-reports-control>
        </div> -->
    </div>
</div>
