<app-nav-bar-main></app-nav-bar-main>

<mat-drawer-container class="contentAdmin" autosize>
    <mat-drawer #drawer class="example-sidenav" [mode]="!(isWideScreen$ | async) ? 'over' : 'side'">
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>

    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>


        <div class="container">

            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Usuarios Nuevos (Ultimo Mes)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mat-h3">
                                500
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Usuarios Nuevos (Ultimo Mes)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mat-h3">
                                500
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Usuarios Nuevos (Ultimo Mes)</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="mat-h3">
                                500
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <hr>

        <div echarts [options]="options" class="demo-chart"></div>
        <hr>
        <div echarts [options]="optionsUpdate" [merge]="updateOptions" class="demo-chart"></div>
    </div>

</mat-drawer-container>

<app-service-reports-control></app-service-reports-control>