<div class="serviceCard" [ngStyle]="{ 'width': max_width + '%'}">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="profileLink">
        <span (click)="showProfile(service.id)">
          {{service.name + ' ' + service.lastName}}
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{service.title}}</mat-card-subtitle>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authUser;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='reportService(service.serviceId)'>
          <mat-icon>report</mat-icon>
          <span>Reportar servicio</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-h3">
        {{service.description}}
      </p>
    </mat-card-content>
    <div class="aa">

      <ngb-carousel >
        <ng-template *ngFor="let image of service.images; index as i" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="image.url" class="imgService">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <hr>
    <mat-expansion-panel hideToggle (closed)="closed()" (opened)="loadComments(service.serviceId)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comentarios
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form *ngIf="authUser;" [formGroup]="commentForm" (submit)='commentService(service.serviceId)'
        class="commentForm">
        <mat-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
        <mat-form-field class="commentInput">
          <mat-label>Escriba un comentario</mat-label>
          <textarea formControlName="comment" color='accent' matInput value=""></textarea>
        </mat-form-field>
        <button mat-stroked-button color="">Enviar</button>
      </form>
      <div *ngFor="let comment of comments">
        <mat-card class="comment">
          <mat-card-header>
            <mat-card-title>{{comment.comment.name }} {{comment.comment.lastName}}</mat-card-title>
            <mat-card-subtitle>
              <mat-star-rating [rating]="comment.rating" [starCount]="5" [color]="starColor"></mat-star-rating>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="mat-h3">
              {{comment.comment.description}}
            </p>
          </mat-card-content>
          <mat-card-actions *ngIf="authUser;">
            <button mat-button>Me gusta</button>
            <button mat-button (click)="comment.state = 'block'">Responder</button>
          </mat-card-actions>
        </mat-card>

        <form [formGroup]="responseForm" (submit)='responseComment(comment.comment.id, service.serviceId)'
          [ngStyle]="{display: comment.state}" class="responseForm">
          <mat-form-field class="commentInput">
            <mat-label>Escriba un comentario</mat-label>
            <textarea formControlName="commentResponse" color='accent' matInput value=""></textarea>
          </mat-form-field>
          <button mat-stroked-button color="accent">Enviar</button>
        </form>

        <div class="commentResponse" *ngFor="let commentResponse of comment.comment.responses">
          <mat-card class="">
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="mat-h3">
                {{commentResponse.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
</div>