<div class="serviceCard" [ngStyle]="{ 'width': max_width + '%'}">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{service.name + ' ' + service.lastName}}</mat-card-title>
      <mat-card-subtitle>{{service.title}}</mat-card-subtitle>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='reportService(service.serviceId)'>
          <mat-icon>report</mat-icon>
          <span>Reportar servicio</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-h3">
        {{service.description}}
      </p>
    </mat-card-content>
    <div class="aa">
      <mat-grid-list class="imgGrid" cols={{columns}}>
        <mat-grid-tile class="tile" *ngFor="let tile of tiles; let i = index" [colspan]="tile.cols"
          [rowspan]="tile.rows">
          <img *ngIf='i == 0' class="imgServiceMain" src={{tile.url}}>
          <img *ngIf='i > 0' class="imgService" src={{tile.url}}>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <hr>
    <mat-expansion-panel hideToggle (closed)="closed()" (opened)="loadComments(service.serviceId)"
      style="background-color:{{colorComments}};">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comentarios
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="serviceForm" (submit)='commentService(service.serviceId)' class="commentForm">
        <mat-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
        <mat-form-field class="commentInput">
          <mat-label>Escriba un comentario</mat-label>
          <textarea formControlName="comment" color='accent' matInput value=""></textarea>
        </mat-form-field>
        <button mat-stroked-button color="accent">Enviar</button>
      </form>
      <div *ngFor="let comment of comments">
        <mat-card class="comment">
          <mat-card-header>
            <mat-card-title>{{comment.name }} {{comment.lastName}}</mat-card-title>
            <mat-card-subtitle>
              <mat-star-rating [rating]="comment.rating" [starCount]="5" [color]="starColor"></mat-star-rating>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="mat-h3">
              {{comment.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Me gusta</button>
            <button mat-button (click)="test()">Responder</button>
          </mat-card-actions>
        </mat-card>

        <form [formGroup]="serviceForm" (submit)='responseComment(service.serviceId)' [ngStyle]="{'display': showResponse}"  class="responseForm">
          <mat-form-field class="commentInput">
            <mat-label>Escriba un comentario</mat-label>
            <textarea formControlName="comment" color='accent' matInput value=""></textarea>
          </mat-form-field>
          <button mat-stroked-button color="accent">Enviar</button>
        </form>

        <div class="commentResponse" *ngFor="let comment of comments">
          <mat-card class="comment">
            <mat-card-header>
              <mat-card-title>{{comment.name }} {{comment.lastName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="mat-h3">
                {{comment.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
</div>