  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .serviceCard {
    max-width: 80%;
  }

  .commentForm {
    display: block;
  }

  .profileLink :hover{
    color: #00b3ff;
    cursor: pointer;
  }

  .responseForm{
    padding-left: 5%;
  }

  .commentResponse{
    padding-left: 5%;
  }

  .aa {
    text-align: center;
  }

  .commentInput {
    width: 90%;
  }

  .imgService {
    width: auto;
    height: auto;
    // width: 100%; 
    max-width: 100%;
    max-height: 600px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .comment{
    padding: 1%;
    margin-bottom: 1%;;
  }