<div class="mat-app-background">
    <div class="container">
        <br>
        <br>
        <span>
            <h1>Registrar Servicio</h1>
        </span>
        <form [formGroup]="serviceForm" class="registerService">
            <mat-form-field appearance="outline">
                <mat-label>Titulo del servicio</mat-label>
                <input formControlName="title" #input maxlength="100" matInput placeholder="Titulo">
                <mat-hint>Max 100 characters</mat-hint>
                <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descripcion del servicio</mat-label>
                <textarea formControlName="description" maxlength="450" #inputDesc matInput
                    placeholder="Descripcion"></textarea>
                <mat-hint>Max 450 characters</mat-hint>
                <mat-hint align="end">{{inputDesc.value?.length || 0}}/450</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-chip-list" appearance="outline">
                <mat-label>Intereses</mat-label>
                <mat-chip-list #chipList aria-label="Seleccion de intereses">
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Nuevo interes..." #tagInput formControlName="log_tags" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <ngx-mat-file-input formControlName="requiredfile" (change)="selectFile($event)" placeholder="Required input"
                    valuePlaceholder="No ha seleccionado una imagen" required multiple [accept]="'.png, .jpg'"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-error *ngIf="serviceForm.get('requiredfile').hasError('required')">
                    Debe ingresar una imagen
                </mat-error>
                <mat-error *ngIf="serviceForm.get('requiredfile').hasError('maxContentSize')">
                    El archivo es demasiado grande, no debe exceder {{serviceForm.get('requiredfile')?.getError('maxContentSize').maxSize
                    |
                    byteFormat}} ({{serviceForm.get('requiredfile')?.getError('maxContentSize').actualSize
                    | byteFormat}}).
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="registerService()">Guardar Servicio</button>
        </form>

        <mat-grid-list class="imgGrid" cols=4>
            <mat-grid-tile class="imgListUploaded" *ngFor="let urlImage of uploadedImgArray; index as i" [colspan]="1"
                [rowspan]="1">
                <mat-card class="example-card">
                    <img mat-card-image [src]="urlImage" class="imgUploaded">
                    <mat-card-actions>
                        <button mat-button (click)="deleteImg(i)">Eliminar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>