<div class="mat-app-background">
    <div class="container">
        <form [formGroup]="userForm" class="userInfo">
            <span>
                <h1 class="titleText">Editar Información de Usuario</h1>
            </span>
            <div class="row">
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" #input maxlength="50" matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field class="col-sm-6 mb-3 mb-sm-0" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input formControlName="lastName" #input maxlength="50" matInput placeholder="Apellidos">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Contraseña Actual</mat-label>
                    <input formControlName="confirmPassword" #input maxlength="50" matInput placeholder="Contraseña">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input formControlName="password" #input maxlength="50" matInput placeholder="Nueva Contraseña">
                </mat-form-field>
            </div>
            <div class="row">
                <button class="btnSave col-6" (click)="activeModal.dismiss('Cross click')" mat-raised-button
                    color="primary">Cancelar</button>
                <button class="btnSave col-6" (click)="editUser()" mat-raised-button color="primary">Guardar
                    Información</button>
            </div>

        </form>
    </div>
</div>