<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                            placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control"
                            value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text"
                            class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control"
                            placeholder="enter address" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control"
                            placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text"
                            class="form-control" placeholder="education" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control"
                            placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                            class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
                        Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <form [formGroup]="serviceForm" (submit)='edit()' class="registerService">
                <mat-form-field appearance="outline">
                    <mat-label>Titulo del servicio</mat-label>
                    <input formControlName="name" #input maxlength="100" matInput placeholder="Titulo">
                    <mat-hint>Max 100 characters</mat-hint>
                    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Titulo del servicio</mat-label>
                    <input formControlName="lastName" #input maxlength="100" matInput placeholder="Titulo">
                    <mat-hint>Max 100 characters</mat-hint>
                    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Titulo del servicio</mat-label>
                    <input formControlName="email" #input maxlength="100" matInput placeholder="Titulo">
                    <mat-hint>Max 100 characters</mat-hint>
                    <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
                <!-- <mat-form-field>
                    <div>
                        <mat-toolbar>
                            <input matInput  readonly name="name" />
        
                            <button mat-flat-button color="primary">
                                Browse File
                            </button>
                        </mat-toolbar>
                        <input type="file" #fileInput id="uploadFile" (change)="selectFile($event)" name="uploadFile"
                            multiple="multiple" accept="image/*" />
                        <hr>
                    </div>
                </mat-form-field>  -->
                <button mat-raised-button color="primary" type="submit">Guardar Servicio</button>
            </form>
        </div>
    </div>
</div>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registrarse - Brand</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/dogs/image2.jpeg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Crear una Cuenta</h4>
                            </div>
                            <form [formGroup]="formGroup" (ngSubmit)="signUp()" class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input formControlName="log_name" class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Nombre" name="first_name"></div>
                                    <div class="col-sm-6"><input formControlName="log_lastName" class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Apellido" name="last_name"></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" formControlName="log_email" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo Electronico" name="email"></div>
                                <div class="custom-control custom-checkbox small">
                                    <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Soy Oferente</label></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input formControlName="log_password"  class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                    <div class="col-sm-6"><input formControlName="log_repeatPassword"  class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Registrar Cuenta</button>
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Registrar con google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Registrar con Facebook</a>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Olvidaste la Contraseña?</a></div>
                            <div class="text-center"><a class="small" href="login.html">Ya tienes una cuenta? Inicia Sesion!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
